* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: WBL Regular, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #F8F8F8;
}

body {
	max-width: 100vw;
}

.menuOpened {
	position: fixed;
}

:root {
	--nav-height: 72px;
	--grey: hsla(0, 0%, 100%, 0.6);
}

#canvas {
	background: -webkit-gradient(linear, left top, left bottom, from(#222227), to(#26262B));
	background: -o-linear-gradient(top, #222227, #26262B);
	background: linear-gradient(to bottom, #222227, #26262B);
	position: absolute;
	width: 100%;
	height: 100vh;
}

#landing {
	top: var(--nav-height);
	position: relative;
	height: calc(100vh - var(--nav-height));
	width: 100%;
	text-align: center;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}

.hero {
	padding: 10% 7% 0;
}

.hero-title {
	font-weight: 700;
	font-size: 42px;
	line-height: 44px;
	margin: 0;
	font-family: WBL Bold, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.hero-desc, .hero-desc i {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin-top: 12px;

	color: var(--grey);
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 710px;
}

strong, bold {
	color: #c8f7c5;
}

.hero-buttons {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.hero-btn, .action-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	position: relative;

	height: 45px;
	width: 250px;

	font-size: 18px;
	font-weight: 500;

	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;

	-webkit-transition: 0.3s;

	-o-transition: 0.3s;

	transition: 0.3s;
	border-radius: 12.5px;
}

#primary-img {
	height: 30px;
	margin-right: 7.5px;
}

#hero-invite {
	border: 3px solid #62D3F5;
}

#hero-features {
	border: 3px solid #4CAF50;
}

#action-server {
	border: 3px solid #FF3368;
	margin-bottom: -5px;
}

#invite-server {
	border: 3px solid #4CAF50;
}

#invite-return {
	border: 3px solid #FF3368;
}

body.hasHover #hero-invite:hover {
	background-color: #62D3F5;
}

body.hasHover #hero-features:hover {
	background-color: #4CAF50;
}

body.hasHover #action-server:hover {
	background-color: #FF3368;
}

body.hasHover #invite-server:hover {
	background-color: #4CAF50;
}

body.hasHover #invite-return:hover {
	background-color: #FF3368;
}

.scroll {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	width: 100%;
	bottom: calc(6rem);
}

.arrow {
	position: absolute;
	width: calc(0.6rem * 3.5);
	height: calc(0.6rem * 0.8);
	opacity: 0;
	-webkit-transform: scale(0.3);
	    -ms-transform: scale(0.3);
	        transform: scale(0.3);
	-webkit-animation: scroll-animation 3s ease-out infinite;
	        animation: scroll-animation 3s ease-out infinite;
}

.arrow:first-child {
	-webkit-animation: scroll-animation 3s ease-out 1s infinite;
	        animation: scroll-animation 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
	-webkit-animation: scroll-animation 3s ease-out 2s infinite;
	        animation: scroll-animation 3s ease-out 2s infinite;
}

.arrow:before, .arrow:after {
	content: '';
	position: absolute;
	top: 0px;
	height: 100%;
	width: 50%;
	background: #eeeeee;
}

.arrow:before {
	left: 0;
	-webkit-transform: skewY(30deg);
	    -ms-transform: skewY(30deg);
	        transform: skewY(30deg);
}

.arrow:after {
	right: 0;
	width: 50%;
	-webkit-transform: skewY(-30deg);
	    -ms-transform: skewY(-30deg);
	        transform: skewY(-30deg);
}

@-webkit-keyframes scroll-animation {
	25% {
		opacity: 1;
	}
	33.3% {
		opacity: 1;
		-webkit-transform: translateY(2.28rem);
		        transform: translateY(2.28rem);
	}
	66.6% {
		opacity: 1;
		-webkit-transform: translateY(3.12rem);
		        transform: translateY(3.12rem);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(4.8rem) scale(0.5);
		        transform: translateY(4.8rem) scale(0.5);
	}
}

@keyframes scroll-animation {
	25% {
		opacity: 1;
	}
	33.3% {
		opacity: 1;
		-webkit-transform: translateY(2.28rem);
		        transform: translateY(2.28rem);
	}
	66.6% {
		opacity: 1;
		-webkit-transform: translateY(3.12rem);
		        transform: translateY(3.12rem);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(4.8rem) scale(0.5);
		        transform: translateY(4.8rem) scale(0.5);
	}
}

hr {
	margin: 5vh;
	border: 0;
    height: 3px;
    background: #222227;
    background-image: -webkit-gradient(linear, left top, right top, from(#26262B), color-stop(#222227), to(#26262B));
    background-image: -o-linear-gradient(left, #26262B, #222227, #26262B);
    background-image: linear-gradient(to right, #26262B, #222227, #26262B);
}

#container {
	position: relative;
	top: var(--nav-height);
	height: 100%;
	background-color: #26262B;
	width: 100%;
}

#hook {
	padding: 7% 7% 0;
	text-align: center;
}

#confessions, #community, #memes, #voicechat {
	padding-left: 7%;
	padding-right: 7%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.desc, .points {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin-top: 12px;
	font-family: WBL Light, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: var(--grey);
}

.desc, .title {
	text-align: center;
}

.feature-img {
	object-fit: contain;
	max-width: 960px;
	width: 100%;
	margin-bottom: 30px;
}

#footer {
	display: block;
	position: relative;
	height: 100%;
	padding: 0px 160px 48px;
}

#action-wrapper {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	text-align: center;
}

.action-btn {
	width: 350px;
}

.action-buttons {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.ready {
	font-size: 26px;
	font-family: WBL Light, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #fff;
	line-height: 34px;
}

.stats {
	font-size: 18px;
	color: var(--grey);
	font-weight: 500;
	margin-top: 4px;
	margin-bottom: 25px;
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#copyright {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
	font-family: WBL Light, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: var(--grey);
	bottom: 7.5px;
	line-height: 20px;
}

@media screen and (max-width: 862px) {
	#footer {
		padding-left: 8px;
		padding-right: 8px;
	}
}

#navWrapper {
	background: transparent;
	position: absolute;
	z-index: 11;
	width: 100%;
	height: var(--nav-height)
}


#desktopNav {
	margin: 0 auto;
	padding: 8px 30px;
	position: relative;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 1600px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	color: #fff;

	font-size: 16px;
	font-weight: 400;
	width: 100%;
}

.navLogo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	position: relative;
	margin-right: auto;
}

.logo-av {
	border-radius: 50%;
	height: 33px;
	margin-right: 7.5px;
	padding-top: 1.5px;
}

.logo-name {
	height: 20px;
}

.logo-white {
	position: absolute;
}

.navLogo:hover > a > .logo-white {
	opacity: 0;
	position: absolute;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.navMenu {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	margin-left: auto;
}

.navMenu li a {
	margin: 10px;
	color: var(--grey);
}

body.hasHover .navMenu li a:hover {
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.navButton {
	margin-left: 10px;
	color: hsla(0, 0%, 100%, 0.8);
	border: 2px solid hsla(0, 0%, 100%, 0.8);
	padding: 5px 15px 7px;
	border-radius: 100px;
	top: 0;
	line-height: 18px;
	cursor: pointer;
}

body.hasHover .navButton:hover {
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border: 2px solid #fff;
}

#mobileNav {
	display: none;
	margin: 0 auto;
	padding: 4px 18px;
	position: relative;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;

	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: var(--nav-height);
	min-height: var(--nav-height);
	max-height: 100vh;
	width: 100%;

	-webkit-user-select: none;

	   -moz-user-select: none;

	    -ms-user-select: none;

	        user-select: none;
	overflow: hidden;
}

.mobileWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.mobileLogo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
	margin-top: 2px;
}

.mobile-av {
	border-radius: 50%;
	height: 34px;
	margin-right: 5.5px;
}

.mobile-logo {
	height: 16px;
}

.burger {
	position: absolute;
	right: 18px;
	cursor: pointer;
	z-index: 101;
	height: 26px;
	width: 26px;
}

.x, .y, .z {
	position: absolute;
	height: 3px;
	width: 24px;
	top: 0px;
	bottom: 0px;
	background: #fff;
	border-radius: 3px;
	-webkit-transition: all 200ms ease-out;
	     -o-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
}

.y {
	top: 10px;
}

.z {
	top: 20px;
}

.collapse {
	top: 10px;
	background: #4a89dc;
	-webkit-transition: all 70ms ease-out;
	     -o-transition: all 70ms ease-out;
	        transition: all 70ms ease-out;
}

.rotate30 {
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
	-webkit-transition: all 50ms ease-out;
	     -o-transition: all 50ms ease-out;
	        transition: all 50ms ease-out;
}

.rotate150 {
	-webkit-transform: rotate(150deg);
	    -ms-transform: rotate(150deg);
	        transform: rotate(150deg);
	-webkit-transition: all 50ms ease-out;
	     -o-transition: all 50ms ease-out;
	        transition: all 50ms ease-out;
}

.rotate45 {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: all 100ms ease-out;
	     -o-transition: all 100ms ease-out;
	        transition: all 100ms ease-out;
}

.rotate135 {
	-webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	        transform: rotate(135deg);
	-webkit-transition: all 100ms ease-out;
	     -o-transition: all 100ms ease-out;
	        transition: all 100ms ease-out;
}

#mobileMenuWrapper {
	width: 100%;
	height: 100vh;
	margin-top: calc(-1 * var(--nav-height));
	z-index: 100;
	overflow: hidden;
	pointer-events: none;
}

.circle {
	border-radius: 50%;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 34px;
	right: 31px;
	background:#000;
	opacity: 0.95;
	-webkit-transition: all 0ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 0ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 0ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

.circle.expand {
	width: 1000vh;
	height: 1000vh;
	top: -500vh;
	right: -500vh;
	-webkit-transition: all 500ms cubic-bezier(0.000, 0.195, 0.990, 1.000);
	     -o-transition: all 500ms cubic-bezier(0.000, 0.195, 0.990, 1.000);
			-webkit-transition: all 750ms cubic-bezier(0.000, 0.095, 0.990, 1.000);
			-o-transition: all 750ms cubic-bezier(0.000, 0.095, 0.990, 1.000);
			transition: all 750ms cubic-bezier(0.000, 0.095, 0.990, 1.000);
}

.menu {
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top: var(--grey);
	left: 0px;
	z-index: 100;
}

.menu ul li {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	text-align: center;
	-webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

.menu ul li a {
	width: 100%;
	color: #4a89dc;
	text-transform: uppercase;	
	letter-spacing: 2.5px;			
}

.menu li.animate {
	opacity: 0;	
	font-size: 21px;
	-webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

.menu li:nth-of-type(1) {
	top: 10vh;
	opacity: 0;
}

.menu li:nth-of-type(2) {
	top: 20vh;
	opacity: 0;
	-webkit-transition-delay: 0.02s;
	     -o-transition-delay: 0.02s;
	        transition-delay: 0.02s;
}

.menu li:nth-of-type(3) {
	top: 30vh;
	opacity: 0;
	-webkit-transition-delay: 0.04s;
	     -o-transition-delay: 0.04s;
	        transition-delay: 0.04s;
}

.menu li:nth-of-type(4) {
	top: 40vh;
	opacity: 0;
	-webkit-transition-delay: 0.06s;
	     -o-transition-delay: 0.06s;
	        transition-delay: 0.06s;
}

.menu li:nth-of-type(5) {
	top: 50vh;
	opacity: 0;
	-webkit-transition-delay: 0.08s;
	     -o-transition-delay: 0.08s;
	        transition-delay: 0.08s;
}

.menu li.animate:nth-of-type(1) {
	top: 20vh;
	opacity: 1;
}

.menu li.animate:nth-of-type(2) {
	top: 30vh;
	opacity: 1;
	-webkit-transition-delay: 0.02s;
	     -o-transition-delay: 0.02s;
	        transition-delay: 0.02s;
}

.menu li.animate:nth-of-type(3) {
	top: 40vh;
	opacity: 1;
	-webkit-transition-delay: 0.04s;
	     -o-transition-delay: 0.04s;
	        transition-delay: 0.04s;
}

.menu li.animate:nth-of-type(4) {
	top: 50vh;
	opacity: 1;
	-webkit-transition-delay: 0.06s;
	     -o-transition-delay: 0.06s;
	        transition-delay: 0.06s;
}

.menu li.animate:nth-of-type(5) {
	top: 60vh;
	opacity: 1;
	-webkit-transition-delay: 0.08s;
	     -o-transition-delay: 0.08s;
	        transition-delay: 0.08s;
}

@supports ((display: -ms-grid) or (display: grid)) {
	@media screen and (min-width: 862px) {
		#confessions, #memes,
		#community, #voicechat {
			display: -ms-grid;
			display: grid;
			position: relative;
			-ms-grid-columns: 1fr 1.5rem 1fr;
			grid-template-columns: 1fr 1fr;
			-ms-grid-rows: auto auto;
			grid-template-rows: auto auto;
			-webkit-column-gap: 1.5rem;
			   -moz-column-gap: 1.5rem;
			        column-gap: 1.5rem;
			    grid-template-areas:
				"fimage ftr"
				"fimage ftr";
		}

		#community, #voicechat {
			    grid-template-areas:
				"ftr fimage"
				"ftr fimage";
		}

		#confessions > .feature-img, #memes > .feature-img,
		#community > .feature-img, #voicechat > .feature-img {
			grid-area: fimage;
		}

		#confessions > .featureContent, #memes > .featureContent,
		#community > .featureContent, #voicechat > .featureContent {
			grid-area: ftr;
		}
	}
	@media screen and (min-width: 862px) {
		#confessions > .feature-img, #memes > .feature-img,
		#community > .feature-img, #voicechat > .feature-img {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 1;
		}

		#confessions > .feature-img, #memes > .feature-img,
		#community > .feature-img, #voicechat > .feature-img {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 2;
		}
		#confessions > .featureContent, #memes > .featureContent,
		#community > .featureContent, #voicechat > .featureContent {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 3;
		}

		#confessions > .featureContent, #memes > .featureContent,
		#community > .featureContent, #voicechat > .featureContent {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 1;
		}
	}
}

@media (max-width: 862px) {
	#desktopNav {
		display: none;
	}

	#mobileNav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

@media (min-width: 862px) {
	#desktopNav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#mobileNav {
		display: none;
	}

	#mobileMenuWrapper {
		display: none;
	}
}

@media (max-width: 325px) {
	.hero-title {
		font-size: 36px;
		line-height: 38px;
	}
}

@media (min-width: 640px) {
	body {
		font-size: 1rem;
	}
}

@media (min-width: 960px) {
	body {
		font-size: 1.2rem;
	}
}

@media (min-width: 1100px) {
	body {
		font-size: 1.5rem;
	}
}

@font-face {
	font-family: "WBL Bold";
	src: url("wbl-bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "WBL Regular";
	src: url("wbl-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "WBL Light";
	src: url("wbl-light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}